@tailwind base;
@tailwind components;
@tailwind utilities;

.layout {
    --content-width: minmax(auto,708px);
    --margin-width: minmax(96px,1fr);
    display: grid;
    grid-template-columns: [full-start] var(--margin-left-width,var(--margin-width)) [content-start] var(--content-width) [content-end] var(--margin-right-width,var(--margin-width)) [full-end];
    width: 100%;
}
.layout.layout-home{
  --content-width: minmax(auto, 900px);
  --margin-width: minmax(56px, 1fr);
}
.layout-full {
    gap: inherit;
    grid-column: full;
}
.layout-content {
    gap: inherit;
    grid-column: content;
    min-width: 0;
}
